@charset "utf-8";

/* +++++++++++++++++++++++++++++++++ 공통 +++++++++++++++++++++++++++++++++ */
*{margin:0; padding:0;}
.inner{max-width: 1364px; margin: 0 auto;}

/* +++++++++++++++++++++++++++++++++ 헤더 +++++++++++++++++++++++++++++++++ */
#header .quick_btn{position:fixed; bottom: 110px; right: 110px; z-index: 9999;}
#header .quick_btn .btn1{position:absolute; bottom: 15px;}
#header .quick_btn .btn2{position:absolute;}

#header .hd_top{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;
                margin: 10px 0 15px 0;}
#header .top_icon1{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;
                    margin-top: 17px;}
#header .sh_icon{padding-top: 5px; margin-right: 10px;}
#header .sh_text{border: none; margin-right: 361px; padding-bottom: 9px;}

#header .logo1{margin-right: 575px; padding-top: 5px;}

#header .top_icon2{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;
                    margin-right: 40px; margin-top: 15px; padding-top: 5px;}
#header .top_icon2 .iccon_02 {padding-right: 10px;}


#header .hd_under{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center;
                    border-top: 1px solid #B3B3B3; padding: 7px 0;}
#header .hd_under .product{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center;}
#header .hd_under .product > li a{text-decoration: none; color: inherit;
                             display: block; text-align: center; padding-right: 92px;}
#header .hd_under .product{position: relative;}
#header .hd_under .product .product_all{position: absolute; top:31px; left: -50px; z-index: 9999;
                                        background-color: #F3F3F3;}
#header .hd_under .product .product_all li{padding: 0 15px;}
#header .hd_under .product .product_all:hover{transition: 0.5s;}
#header .hd_under .product .product_all li a{padding: 5px;}
#header .hd_under .product .product_all li a:hover{color: rgba(0, 0, 0, 0.4); transition: 0.2s;}

.product ul{display: none;}
.product > li:hover ul{display: block;}
             
#header .hd_under p{padding-right: 92px;}
#header .hd_under p:nth-child(1){padding-left: 92px;}

/* +++++++++++++++++++++++++++++++++ 슬라이드 +++++++++++++++++++++++++++++++++ */
#slide{margin-bottom: 130px;}
#slide video{width: 100%;}

/* +++++++++++++++++++++++++++++++++ 섹션1- 브랜드이야기 +++++++++++++++++++++++++++++++++ */
#sec1 .inner{position: relative;}

#sec1 .sec1txt_all{margin-bottom: 900px;}
#sec1 .sec1txt_all .ourstory{margin-bottom: 5px;}
#sec1 .sec1txt_all .story_txt{margin-bottom: 80px;}

#sec1 .sec1txt_all .story_icon{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;
                                margin-bottom: 80px;}
#sec1 .sec1txt_all .story_icon p{margin-right: 20px;}
#sec1 .sec1txt_all .story_icon .iconimg_all{padding-left: 30px; padding-bottom: 13px;}

#sec1 .sec1txt_all .more_bt{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;}
#sec1 .sec1txt_all .more_bt a{display: block;}
#sec1 .sec1txt_all .more_bt .morebt{margin-right: 9px;}
#sec1 .sec1txt_all .more_bt .morebt2{width: 50px;}
#sec1 .sec1txt_all .more_bt .morebt2:hover{animation: morebt2 0.5s infinite linear alternate;}

#sec1 .sec1img_all .img_01{position: absolute; z-index: 1; top: 450px; left: 839px;}
#sec1 .sec1img_all .img_02{position: absolute; z-index: 2; top: 130px; left: 915px;}
#sec1 .sec1img_all .img_03{position: absolute; z-index: 2; top: 650px; left: 180px;}

/* +++++++++++++++++++++++++++++++++ 섹션2- 향소개 +++++++++++++++++++++++++++++++++ */
#sec2{position: relative;}
#sec2 .sec2_bg{position: absolute; z-index: -1; top: 200px; left: -268px;}

#sec2 .inner{position: relative;}

#sec2 .sec2_scentbox{margin-bottom: 480px;}
#sec2 .sec2_scentbox .img_04{position: absolute; z-index: -1; top: 0px; left: -270px;}
#sec2 .sec2_scentbox .txt_all{color: #fff;}
#sec2 .sec2_scentbox .txt_all>.scent{padding-top: 65px; margin-bottom: 5px;}


#sec2 .img_all{position: absolute; top: 15px; left: 300px; width: 1350px; overflow: hidden;}
#sec2 .sec2_img{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;
                position: absolute; z-index: 1; top: 80px; left: 280px;
                height: 465px;}
#sec2 .img_all::before{content: ''; display: block; width: 0; height: 100%;
                        box-shadow: 0px 0 30px 10px rgb(65, 65, 65);
                        position: absolute; left: -2px; top: 120px;
                        border: 1px solid transparent; z-index: 9999;}
#sec2 .sec2_img li{position: relative;}
#sec2 .sec2_img li .floraltxt_all{position: absolute; z-index: 1; bottom: 100px; left: 30px; 
                                            color: #fff; font-size: 15px;}
#sec2 .sec2_img li .floraltxt_all .txt1{font-size: 20px; margin-bottom: 9px;}
#sec2 .sec2_img li .floraltxt_all .txt2{font-size: 14px;}

/*
#sec2 .sec2_img .sec2_green{position: relative;}
#sec2 .sec2_img .sec2_green>.greentxt_all{position: absolute; z-index: 1; top: 282px; left: 30px; 
                                            color: #fff; font-size: 15px;}
#sec2 .sec2_img .sec2_green>.greentxt_all .txt1{font-size: 20px; margin-bottom: 9px;}
#sec2 .sec2_img .sec2_green>.greentxt_all .txt2{font-size: 14px;}


#sec2 .sec2_img .sec2_marine{position: relative;}
#sec2 .sec2_img .sec2_marine>.marinetxt_all{position: absolute; z-index: 1; bottom: 100px; left: 30px; 
                                            color: #fff; font-size: 15px;}
#sec2 .sec2_img .sec2_marine>.marinetxt_all .txt1{font-size: 20px; margin-bottom: 9px;}
#sec2 .sec2_img .sec2_marine>.marinetxt_all .txt2{font-size: 14px;}
*/
/* +++++++++++++++++++++++++++++++++ 섹션3- 제품슬라이드 +++++++++++++++++++++++++++++++++ */
#sec3{margin-bottom: 210px;}

#sec3 .sec3txt_all .txt_under{margin-bottom: 25px;}

#sec3 .sec3txt_all .newproducsts{margin-bottom: 5px;}

#sec3 .sec3txt_all .txt_under{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;}
#sec3 .sec3txt_all .txt_under .sec3_margin{margin-right: 914px;}
#sec3 .sec3txt_all .iconimg_all .morebt{margin-right: 9px;}

#sec3 .sec3img_all{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:space-between;}
#sec3 .sec3img_all img{width: 100%; margin-bottom: 50px;}
#sec3 .sec3img_all a{display: block; width: 90%; margin: 0 auto;}
#sec3 .sec3img_all .slick-slide a span{display: block; opacity: 0; transition: opacity 0s; 
                                        width: 80%; margin: 0 auto; text-align: center;}

#sec3 .sec3img_all .slick-slide.slick-center a span{opacity: 1; transition: opacity 3s;}
#sec3 .sec3img_all .slick-slide{padding-top: 90px; padding-bottom: 100px;}
#sec3 .sec3img_all .slick-slide img {max-width: 100%; transition: transform 1.5s;}
#sec3 .sec3img_all .slick-slide.slick-center img{transform: scale(1.5); margin-bottom: 110px;}
#sec3 .sec3img_all .slick-slide.slick-center p{text-align: center;}

#sec3 .sec3img_all .slick-arrow{border: 1px solid #000; border-radius: 30px; font-size: 0;
                                width: 55px; height: 55px; z-index: 999;}
#sec3 .sec3img_all .slick-prev{background: url(../images/prev.png) no-repeat center;
                                position: absolute; bottom:95px; left: 450px;}
#sec3 .sec3img_all .slick-prev:hover{background-color: rgba(242, 242, 242, 0.4)}
#sec3 .sec3img_all .slick-next{background: url(../images/next.png) no-repeat center;
                                position: absolute; bottom: 95px; right: 450px;}
#sec3 .sec3img_all .slick-next:hover{background-color: rgba(242, 242, 242, 0.4)}

/* +++++++++++++++++++++++++++++++++ 섹션4- 정기구독배너 +++++++++++++++++++++++++++++++++ */
#sec4{position: relative;}
#sec4 .sec4_bg{position: absolute; z-index: -1; top: 0px; left: -20px; width: 100%;}

#sec4 .txt_all{color: #ffffff;  margin-bottom: 1000px;}
#sec4 .txt_all .subscription{padding-top: 65px; margin-bottom: 5px;}

#sec4 .option_all{position: absolute; top: 130px; left: 670px; z-index: 1;}
#sec4 .option_all .colorbox5{background-color: #F3F3F3; width: 540px; height: 580px;
                             padding-top: 70px; padding-left: 30px;}

#sec4 .option_all .colorbox5 .option_txt{text-align: center; margin-bottom: 80px;}
#sec4 .option_all .colorbox5 .blod{font-weight: 400;}

#sec4 .option_all .option{margin-bottom: 100px;}
#sec4 .option_all .option>.option1{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly;
                                    margin-bottom: 30px;}
#sec4 .option_all .option>.option2{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly;}

#sec4 .option_all .option .option1 .op1_txt{padding-top: 10px;}
#sec4 .option_all .option .option1 .op1_select{width: 270px; height: 50px; 
                                                text-align: center; font-size: 15px;}

#sec4 .option_all .option .option2 .op2_txt{padding-top: 10px;}
#sec4 .option_all .option .option2 .op2_text{width: 266px; height: 44px; 
                                             text-align: center; margin-right: 26px; margin-bottom: 15px;
                                             font-size: 15px; }
#sec4 .option_all .option .date{text-align: right; padding-right: 83px; font-size: 14px;
                                color: rgb(70, 70, 70)}

#sec4 .option_all .option_bt{background-color: #000000; width: 260px; height: 55px;
                              text-align: center; margin-left: 125px;}
                        
#sec4 .option_all .option_bt .addtocart{padding-top: 13px; height: 40px;}
#sec4 .option_all .addtocart{color: #ffffff;}

#sec4 .option_img{position: absolute; top: 510px; right: 470px; z-index: 2;}

/* +++++++++++++++++++++++++++++++++ 섹션5- 매거진 +++++++++++++++++++++++++++++++++ */
#sec5{margin-bottom: 590px;}
#sec5 .inner{position: relative;}

#sec5 .sec5txt_all .magazine{margin-bottom: 5px;}
#sec5 .sec5txt_all .magazine_txt{margin-bottom: 100px;}

#sec5 .sec5txt_all .more_bt{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;}
#sec5 .sec5txt_all .more_bt .morebt{margin-right: 9px;}


#sec5 .sec5_colorbox{position: absolute; top: 100px; right: -272px; z-index: -1;
                    background-color: #FBF4EE; width: 1040px; height: 600px;}

#sec5 .magazineimg_all{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:space-between;
                        position: absolute; top: -70px; left: 780px; width: 50%;}
#sec5 .magazineimg_all .magazine_img{margin-bottom: 40px; width: 100%;
                                     filter: drop-shadow(10px 12px 8px rgba(133, 130, 130, 0.4));}
#sec5 .magazineimg_all .magazine_img img{border: 1px solid rgb(228, 228, 228);}
#sec5 .magazineimg_all .magazine_txt{padding-left: 63px;}

#sec5 .slick-slider .slick-arrow{border: 1px solid #000; border-radius: 30px; 
                                 font-size: 0; width: 58px; height: 58px;}
#sec5 .slick-slider .slick-prev{margin-top: 270px; margin-left: -110px;
                                position: absolute; top: 0px; left: 0px;
                                background: url(../images/prev.png) no-repeat center;}
#sec5 .slick-slider .slick-prev:hover{background-color: rgba(252, 252, 252, 0.5)}

#sec5 .slick-slider .slick-next{margin-top: 270px; margin-left: -55px;
                                position: absolute; top: 0px; left: 500px;
                                background: url(../images/next.png) no-repeat center;}                               
#sec5 .slick-slider .slick-next:hover{background-color: rgba(252, 252, 252, 0.5)}


/* +++++++++++++++++++++++++++++++++ 섹션6- 인스타그램 +++++++++++++++++++++++++++++++++ */
#sec6{margin-bottom: 180px;}

#sec6 .sec6txt_all{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;
                    margin-bottom: 30px;}
#sec6 .sec6txt_all .instagram{margin-right: 20px;}
#sec6 .sec6txt_all .instagram_txt{padding-top: 15px;}

#sec6 .sec6img_all{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:space-between;}

/* +++++++++++++++++++++++++++++++++ 푸터 +++++++++++++++++++++++++++++++++ */
#footer{border-top: 1px solid #B3B3B3;}

#footer .ft_all{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:space-between;
                margin-top: 90px; margin-bottom: 120px;}
#footer .ft_all .ft_logo img{width: 70px; height: 90px; margin-left: 20px;}

#footer .ft_all .fttxt_all{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;}
#footer .ft_all .fttxt_all>div{margin-right: 100px;}
#footer .ft_all .fttxt_all>div:nth-child(3){margin-right: 0;}
#footer .ft_all .fttxt_all .ft_txt1 p{margin-bottom: 7px;}

#footer .ft_all .ft_snsicon{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:space-between;
                            margin-right: 20px;}
#footer .ft_all .ft_snsicon .snsicon1{margin-right: 9px; border: 1px solid #000;
                                       width: 31px; height: 31px;
                                       border-radius: 2px;}


@keyframes morebt2 {
0% {margin-left: 0px;}
100% {margin-left: 7px;}
}





















