@charset "utf-8";

/* +++++++++++++++++++++++++++++++++ 공통 +++++++++++++++++++++++++++++++++ */
*{margin:0; padding:0;}
.inner{max-width: 1364px; margin: 0 auto;}


/* +++++++++++++++++++++++++++++++++ 헤더 +++++++++++++++++++++++++++++++++ */
#header .hd_top{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;
                margin: 10px 0 15px 0;}
#header .top_icon1{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;
                    margin-top: 15px;}
#header .sh_icon{padding-top: 5px; margin-right: 10px;}
#header .sh_text{border: none; margin-right: 398px;}

#header .logo1{margin-right: 580px; padding-top: 5px;}

#header .top_icon2{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;
                    margin-right: 40px; margin-top: 15px; padding-top: 5px;}
#header .top_icon2 .iccon_02 {padding-right: 10px;}


#header .hd_under{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center;
                    border-top: 1px solid #B3B3B3; padding: 5px 0;}
#header .hd_under p{padding-right: 92px;}

/* +++++++++++++++++++++++++++++++++ 슬라이드 +++++++++++++++++++++++++++++++++ */
#slide{margin-bottom: 100px;}
#slide .main_slide img{width: 100%; height: 970px;}

/* +++++++++++++++++++++++++++++++++ 섹션1- 브랜드이야기 +++++++++++++++++++++++++++++++++ */
#sec1 .inner{position: relative;}

#sec1 .sec1txt_all{margin-bottom: 900px;}
#sec1 .sec1txt_all .ourstory{margin-bottom: 5px;}
#sec1 .sec1txt_all .story_txt{margin-bottom: 80px;}

#sec1 .sec1txt_all .story_icon{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;
                                margin-bottom: 80px;}
#sec1 .sec1txt_all .story_icon p{margin-right: 20px;}
#sec1 .sec1txt_all .story_icon .iconimg_all{padding-left: 30px; padding-bottom: 13px;}

#sec1 .sec1txt_all .more_bt{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;}
#sec1 .sec1txt_all .more_bt .morebt{margin-right: 9px;}

#sec1 .sec1img_all .img_01{position: absolute; z-index: 1; top: 450px; left: 839px;}
#sec1 .sec1img_all .img_02{position: absolute; z-index: 2; top: 130px; left: 915px;}
#sec1 .sec1img_all .img_03{position: absolute; z-index: 2; top: 650px; left: 180px;}

/* +++++++++++++++++++++++++++++++++ 섹션2- 향소개 +++++++++++++++++++++++++++++++++ */
#sec2{position: relative;}
#sec2 .sec2_bg{position: absolute; z-index: -1; top: 200px; left: -268px;}

#sec2 .inner{position: relative;}

#sec2 .sec2_scentbox{margin-bottom: 480px;}
#sec2 .sec2_scentbox .img_04{position: absolute; z-index: -1; top: 0px; left: -270px;}
#sec2 .sec2_scentbox .txt_all{color: #fff;}
#sec2 .sec2_scentbox .txt_all>.scent{padding-top: 65px; margin-bottom: 5px;}


#sec2 .sec2_img{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;
                position: absolute; z-index: 1; top: 80px; left: 280px;}

#sec2 .sec2_img .sec2_floral{position: relative;}
#sec2 .sec2_img .sec2_floral>.floraltxt_all{position: absolute; z-index: 1; top: 282px; left: 30px; 
                                            color: #fff; font-size: 15px;}
#sec2 .sec2_img .sec2_floral>.floraltxt_all .txt1{font-size: 20px; margin-bottom: 9px;}
#sec2 .sec2_img .sec2_floral>.floraltxt_all .txt2{font-size: 14px;}


#sec2 .sec2_img .sec2_green{position: relative;}
#sec2 .sec2_img .sec2_green>.greentxt_all{position: absolute; z-index: 1; top: 282px; left: 30px; 
                                            color: #fff; font-size: 15px;}
#sec2 .sec2_img .sec2_green>.greentxt_all .txt1{font-size: 20px; margin-bottom: 9px;}
#sec2 .sec2_img .sec2_green>.greentxt_all .txt2{font-size: 14px;}


#sec2 .sec2_img .sec2_marine{position: relative;}
#sec2 .sec2_img .sec2_marine>.marinetxt_all{position: absolute; z-index: 1; top: 282px; left: 30px; 
                                            color: #fff; font-size: 15px;}
#sec2 .sec2_img .sec2_marine>.marinetxt_all .txt1{font-size: 20px; margin-bottom: 9px;}
#sec2 .sec2_img .sec2_marine>.marinetxt_all .txt2{font-size: 14px;}

/* +++++++++++++++++++++++++++++++++ 섹션3- 제품슬라이드 +++++++++++++++++++++++++++++++++ */
#sec3{margin-bottom: 270px;}
#sec3 .sec3txt_all .txt_under{margin-bottom: 100px;}

#sec3 .sec3txt_all .newproducsts{margin-bottom: 5px;}

#sec3 .sec3txt_all .txt_under{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start;}
#sec3 .sec3txt_all .txt_under .sec3_margin{margin-right: 914px;}
#sec3 .sec3txt_all .iconimg_all .morebt{margin-right: 9px;}

#sec3 .sec3img_all{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:space-between;}
#sec3 .sec3img_all img{width: 100%;}

/* +++++++++++++++++++++++++++++++++ 섹션4- 정기구독배너 +++++++++++++++++++++++++++++++++ */
#sec4{position: relative;}
#sec4 .sec4_bg{position: absolute; z-index: -1; top: 0px; left: -20px; width: 100%;}

#sec4 .txt_all{color: #ffffff;}
#sec4 .txt_all .subscription{padding-top: 65px; margin-bottom: 5px;}

#sec4 .option_all{position: absolute; top: 130px; left: 670px; z-index: 1;}
#sec4 .option_all .colorbox5{background-color: #F3F3F3; width: 540px; height: 580px;
                             padding-top: 70px; padding-left: 30px;}

#sec4 .option_all .colorbox5 .option_txt{text-align: center; margin-bottom: 80px;}

#sec4 .option_all .option{margin-bottom: 140px;}
#sec4 .option_all .option>.option1{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly;
                                    margin-bottom: 30px;}
#sec4 .option_all .option>.option2{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly;}

#sec4 .option_all .option .option1 .op1_txt{padding-top: 10px;}
#sec4 .option_all .option .option1 .op1_select{width: 270px; height: 50px; 
                                                text-align: center;}
#sec4 .option_all .option .option2 .op2_txt{padding-top: 10px;}
#sec4 .option_all .option .option2 .op2_select{width: 270px; height: 50px; 
                                                text-align: center; margin-right: 26px;}

#sec4 .option_all .option_bt{background-color: #000000; width: 260px; height: 55px;
                              text-align: center; margin-left: 125px;}
                        
#sec4 .option_all .option_bt .addtocart{padding-top: 13px; height: 40px;}
#sec4 .option_all .addtocart{color: #ffffff;}

#sec4 .option_img{position: absolute; top: 510px; right: 470px; z-index: 2;}
























